.music {
    overflow: hidden hidden;
}
.title {
    text-align: center;
    color: white;
}

.main {
    /* margin-top: 64px; */
    text-emphasis: center;
    /* overflow: scroll; */
}


.albumGrid {
    height: 100%;
    /* box-sizing: border-box; */
}
.albumGrid > ul {
    height: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1rem;
    margin: 0 auto;
    /* margin-bottom: 250px; */
    /* margin-bottom: 250px; */
}

.albumGrid > ul > li {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.tracklist {
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {

    .title {
        margin-top: calc(64px + 0.67em);
        padding: 10px;
    }

}