@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

.title {
  text-align: center;
}

.logo {
  font-family: 'Fugaz One', cursive;
  font-size: 33px;
  text-align: left;
  margin: 0;
}