/* SPINNER START */

.loaderPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background-color: black;
}
.showThePage {
  display: none;
}

.wrapper {
  --simple_load_spinner-size:      64px;
  --simple_load_spinner-thickness: 5px;
  
  --simple_load_spinner-bg-color: rgba(255, 71, 0, 1);
  --simple_load_spinner-fg-color: black;
  
  --simple_load_spinner-anim-delay:           initial;
  --simple_load_spinner-anim-duration:        1s;
  --simple_load_spinner-anim-direction:       initial;
  --simple_load_spinner-anim-fill-mode:       initial;
  --simple_load_spinner-anim-iteration-count: infinite;
  --simple_load_spinner-anim-play-state:      initial;
  --simple_load_spinner-anim-timing-function: linear;
  
  --simple_load_spinner-transform-deg: 315deg;
}

.simple_load_spinner {
  display:            inline-block;
  position:           relative;
  width:              var(--simple_load_spinner-size);
  height:             var(--simple_load_spinner-size);
  border:             var(--simple_load_spinner-thickness) solid var(--simple_load_spinner-bg-color);
  border-right-color: var(--simple_load_spinner-fg-color);
  border-radius:      100%;
  box-sizing:         border-box;
  transform:          rotate(-45deg);
  
  animation-name:            simple_load_spinner;
  animation-delay:           var(--simple_load_spinner-anim-delay);
  animation-direction:       var(--simple_load_spinner-anim-direction);
  animation-duration:        var(--simple_load_spinner-anim-duration);
  animation-fill-mode:       var(--simple_load_spinner-anim-fill-mode);
  animation-iteration-count: var(--simple_load_spinner-anim-iteration-count);
  animation-play-state:      var(--simple_load_spinner-anim-play-state);
  animation-timing-function: var(--simple_load_spinner-anim-timing-function);
}

@keyframes simple_load_spinner {
  100% {
    transform: rotate(var(--simple_load_spinner-transform-deg));
  }
}

.wrapper {
  --_postion: calc(var(--simple_load_spinner-size) / 2);
  position: absolute;
  top:      calc(50% - var(--_postion));
  left:     calc(50% - var(--_postion));
  z-index: 5;
}



/* SPINNER END */





.splashPage {
  height: 100vh;
  width: 100vw;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  text-align: center;
  z-index: 3;
}

.unSplash {
  display: none;
}

.title {
  font-size: 100px;
  margin: 64px 0;
}

.splashButton {
  font-family: 'StreakerFreaker';
  font-weight: normal;
  font-style: normal;
  font-size: xx-large;
  border-radius: 100px;
  background: white;
  color: black;
  border-color: black;
  cursor: pointer;

}
.splashButton:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.disclaimer {
  font-weight: lighter;
  font-size: 40px;
  margin: 32px 0;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 80px;
  }
  .disclaimer {
    font-size: 40px;
  }
}



/* Video */

.vidContainer {
  height: calc(100vh - 64px);
  width: 100vw;
}

.format {
  height: calc(100vh - 64px);
  width: 100vw;
  position: absolute;
  left: 0;
  top: 64px;
}

@media only screen and (max-width: 768px) {
  .vidContainer {
      margin-top: 64px;
  }
}

