.splashPage {
  height: 100vh;
  width: 100vw;
  background: var(--void-color);
  position: fixed;
  top: 0;
  left: 0;
  color:  var(--pure-color);
  text-align: center;
  z-index: 3;
  overflow: hidden scroll;
}

.charzarr {
  display: inline-block;
}

.icons {
  margin: 0 0 32px 0;
}

.icons > span {
  font-size: 50px;
}

.unSplash {
  display: none;
}

.title {
  font-size: 100px;
  margin: 64px 0;
  font-family: var(--title-font);
  color: var(--brand-color);
}

.disclaimer {
  font-weight: lighter;
  font-size: 40px;
  margin: 32px 0;
}

.splashButton {
  font-size: 40px;
  font-family: var(--normal-font);
  border-radius: 100px;
  background: var(--brand-color);
  color: var(--void-color);  border-color: var(--void-color);
  cursor: pointer;
  font-family: var(--normal-font);
  font-weight: bold;
}

.splashButton:hover {
  color:  var(--pure-color);
  background:  var(--brand-color);
  border-color:  var(--pure-color);
}

/* SPIN LOADER START */

.loaderPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background-color: var(--void-color);
}

.showThePage {
  display: none;
}

.wrapper2 {
  --_postion: calc(var(--simple_load_spinner-size) / 2);
  position: absolute;
  top: calc(50% - var(--_postion));
  left: calc(50% - var(--_postion));
  z-index: 5;
}

/* SPIN LOADER END */

@media only screen and (max-width: 768px) {
  .title {
    font-size: 80px;
  }
  .disclaimer {
    font-size: 40px;
  }
}

/* Video */

/* .vidContainer {
  height: calc(100vh - 64px);
  width: 100vw;
}
.format {
  height: calc(100vh - 64px);
  width: 100vw;
  position: absolute;
  left: 0;
  top: 64px;
} 
.vidContainer {
  margin-top: 64px;
}
*/